/* Universal Styles */

html {
  font-size: 62.5%;
}

#root,
html, 
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

