.BusinessList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 4.4rem 10%;
  }

  .BusinessList-scroll {
    display: inline-flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 1rem auto;
  }
