.SearchBar-heading {
    padding: 1rem 3rem;
    font-weight: 800;
    font-size: 2rem;
}

.SearchBar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../assets/images/redesign-background_search_desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
  }
  
  
  .SearchBar-sort-options ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    color: black;
    list-style: none;

  }
  
  .SearchBar-sort-options li {
    cursor: pointer;
    width: 4.33rem;
    border-bottom: 2px solid black;
    padding: 0 2.58rem .33rem 2.58rem;
    line-height: 1.13;
    font-weight: 600;
    font-size: 1.5rem;
    transition: color 1s;
  }
  
  .SearchBar-sort-options li:hover {
    color: orange;
  }
  
  .SearchBar-sort-options li.active,
  .SearchBar-sort-options li.active:hover {
    border-bottom: 2px solid orange;
    color: orange;
  }
  
  .SearchBar-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
  }
  
  .SearchBar-fields input {
    width: 21rem;
    padding: .66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid gray;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .SearchBar-fields input:last-child {
    margin-right: 0;
  }
  
  .SearchBar-submit {
    text-align: center;
  }
  
  .SearchBar-submit a {
    border-radius: 1.5rem;
    padding: .72rem 1.7rem;
    background-color: #000;
    color: #ffffff;
    font-weight: 600;
    transition: background-color .5s;
    text-decoration: none;
  }
  
  .SearchBar-submit a:hover {
    cursor: pointer;
    background-color: orange;
  }
  
  @media only screen and (max-width: 560px) { 
    .SearchBar-sort-options ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
    .SearchBar-fields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBar-fields input {
      margin-right: 0;
      margin-bottom: .86rem;
    }
  }
