/*-- GENERAL --*/
.Business {
  margin: 1rem 1rem 2.5rem 1rem;
  position: relative;
  width: 32.5rem;
  height: 20rem;
  display: inline-block;
  flex-shrink: 0;
}

.Business h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  background-color: white;
  color: black;
  margin-bottom: 0;
}

.Business-name {
  margin-bottom: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

/*-- IMAGE HOLDER --*/
.Business .image-container {
  height: 16rem;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
}

/* -- BUSINESS OVERLAY -- */
.Business .overlay {
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  text-transform: uppercase;
}

.Business .overlay-left {
   height: 80%;
   width: 0;
   top: 0;
   left: 0;
   background-color: #000000;
   background-image: linear-gradient(147deg, #111111 0%, #1d1d1d 99%);
   border-radius: 1.2rem;
}

.Business:hover .overlay {
   opacity: 1;
}

.Business:hover .overlay-left{
   width: 100%;
}

/* --  BUSINESS INFORMATION --*/

.Business-information {
  justify-content: space-between;
  position: absolute;
  top: 2.5rem;
  left: 0;
  padding: 2rem 0;
  width: 100%;
 }
  
 .Business-information h3 {
   color: #000;
   font-weight: 700;
   font-size: 1.5rem;
   margin-bottom: 0
 }
  
 .Business-information p {
   color: #fff;
   font-weight: 700;
   line-height: 1.15;
   font-size: 1.1rem;
   margin-bottom: 0;
   text-align: center;
 }
  
 .Business-address {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

/*--  BUSINESS CATEGORIES --*/
.Business-categories {
  color: grey;
  font-weight: 700;
  font-size: 1rem;
  padding-left: .5%;
  display: flex;
}

.Business-categories span {
  color: orange;
  margin-top: 1.1rem;
}

.Business-categories sub {
  font-size: 1.2rem;
}

.Business-categories sup {
  margin: 0 1rem;
  font-size: 1.8rem;
}


/*-- BUSINESS REVIEWS --*/

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.Business-reviews .rating {
  font-size: 1.5rem;
  line-height: 1rem;
  background-color: #242424;
  color: white;
  padding: .5rem;
}

.Business-reviews sub {
 color: orange;
 font-size: 1.35rem;
}
